---
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Build Little Worlds">
  <ul class="space-y-1">
    {
      sortedPosts.map((post) => (
        <li class="bg-white bg-opacity-80 p-3 rounded transition-transform duration-300 hover:translate-x-1">
          <a
            href={`/blog/${post.slug}`}
            class="text-gray-700 hover:text-gray-900 text-lg font-medium"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
