---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import homeImage from "../assets/home.webp";
---

<Layout title="Build Little Worlds">
  <div class="flex justify-center items-center h-screen">
    <Image
      src={homeImage}
      alt="Build Little Worlds Homepage Image"
      class="max-w-full max-h-full object-contain"
    />
  </div>
</Layout>
