---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { tags, getTagLabel } from "../../data/tags";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  return tags.map(({ slug }) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(slug)
    );
    return {
      params: { tag: slug },
      props: { posts: filteredPosts },
    };
  });
}

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const pageTitle = getTagLabel(tag as string);
---

<Layout title={`${pageTitle} - Build Little Worlds`}>
  <h1>{pageTitle}</h1>
  <ul class="post-list">
    {
      sortedPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
