---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { tags, getTagLabel } from "../../data/tags";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  return tags.map(({ slug }) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(slug),
    );
    return {
      params: { tag: slug },
      props: { posts: filteredPosts },
    };
  });
}

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const pageTitle = getTagLabel(tag as string);
---

<Layout title={`${pageTitle} - Build Little Worlds`}>
  <h1 class="text-3xl font-bold mb-6">{pageTitle}</h1>
  <ul class="space-y-4">
    {
      sortedPosts.map((post) => (
        <li class="bg-white bg-opacity-80 p-3 rounded transition-transform duration-300 hover:translate-x-1">
          <a
            href={`/blog/${post.slug}`}
            class="text-gray-700 hover:text-gray-900 text-lg font-medium"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
