---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import { tags } from "../data/tags";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/" class="home-link">Build Little Worlds</a> |
      {
        tags.map((tag, index) => (
          <>
            <a href={`/tag/${tag.slug}`}>{tag.label}</a>
            {index < tags.length - 1 && " | "}
          </>
        ))
      }
      | <a href="/about">About</a>
    </nav>
    <main>
      <!-- <h1>AI for World-Builders</h1> -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
