---
import "../styles/global.css";
const { title } = Astro.props;

const navItems = [
  { href: "/tag/robots", label: "Robots" },
  { href: "/tag/monsters", label: "Monsters" },
  { href: "/tag/coordinator", label: "The Coordinator" },
  { href: "/tag/geniuses", label: "Geniuses" },
  { href: "/tag/protesters", label: "Protesters" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/" class="home-link">Build Little Worlds</a> |
      {
        navItems.map((item, index) => (
          <>
            <a href={item.href}>{item.label}</a>
            {index < navItems.length - 1 && " | "}
          </>
        ))
      }
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
